.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.price{
  font-size: 25px;
  color: #c24d17;
}
.card-body {
  display: flex;
  flex-direction: column;
  position: relative;
}

button.btn.btn-primary {
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
}

.card-subtitle.h6 {
  height: 40%;
  display: flex;
  flex-direction: column;
}

.card-title.h5 {
  height: 51%;
}

.col {
  margin-top: 25px;
}

.card {
  height: 100%;
  border: unset;
}

img.card-img-top {
  height: 50%;
}
